label.form-label {
  font-size: 16px;
  font-weight: 700;
}

.form-heading {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.form-input-fields {
  height: 45px;
}

.form-btn {
  padding: 10px 25px;
  font-weight: 600;
  font-size: 16px;
  background-color: #33d3d4 !important;
  border: unset;
}

@media (max-width: 767px) {
  .contact-us-container {
    padding: 0px !important;
  }
  .contact-us-main-container {
    margin: 30px 0 !important;
  }

  .contact-image {
    max-height: 450px;
    object-fit: contain;
  }
}
