@import "tailwindcss";

/* 
@font-face {
  font-family: "Old Standard TT";
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: "Old Standard TT", serif;
}

/* src: url("/fonts/OldStandardTT.woff2") format("woff2"); */