.welcome-img {
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* .welcome-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  } */
  
  .image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 8px solid #B58152; 
    border-radius: 5px;        
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  /* .image-wrapper:hover::before {
    opacity: 5;
  } */
  
  .shadow-xl {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .text-amber-600 {
    color: #374151;;
  }
  
  .text-gray-700 {
    color: #374151;
  }
  
  .text-gray-600 {
    color: #4B5563;
  }
  